<!-- topbar starts -->
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"> 
            <img alt="资源管理 Logo" src="/images/logo20.ico" class="hidden-xs"/>
            <span>资源管理</span>
        </a>
        <!-- user dropdown starts -->
        <div class="btn-group pull-right">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> admin</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">用户中心</a></li>
                <li class="divider"></li>
                <li><a href="#">登出</a></li>
            </ul>
        </div>
        <!-- user dropdown ends -->
        <ul class="collapse navbar-collapse nav navbar-nav top-menu">
            <li><a href="#"><i class="glyphicon glyphicon-leaf"></i>模板管理</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-globe"></i>资源管理</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"></i>用户权限管理
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">用户管理</a></li>
                    <li class="divider"></li>
                    <li><a href="#">权限管理</a></li>
                    <li class="divider"></li>
                    <li><a href="#">权限管理</a></li>
                   </ul>
            </li>
        </ul>
    </div>
</div>
<!-- topbar ends -->